body {
    margin: 100px;
    margin-top: 0px;
    font-family: sans-serif;
}
body p{
   
    color: lightgrey;
}
.gray-bg{
    background-color: white;
}
.carousel-item {
    padding: 20px 40px;
}
.buy-now-btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.ornge-bg {
    color: orange;
}
.card {
    border: none;
    box-shadow: 5px 5px 10px;
    text-align: center;
    border-radius: 10px;
}
.container-phone {
    margin-top: 100px;
}
.container-laptop {
    margin-top: 100px;
}