.gray-bg{
    background-color: white;
}
.carousel-item {
    padding: 20px 40px;
}
.buy-now-btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
